extends nav.pug

block content
    link(rel='stylesheet' href='/stylesheets/all-games.css')
    h1 ALL GAMES
    each games, key in gamesObj
        div.game-div
            h2= key
            a#more-a(href=`/users/1`)= `more from ${key}`
            for game in games
                a.game-a(href=`/games/${game.id}`)
                    img(src=game.image)
