doctype html
html
    head
        link(rel='stylesheet' href='/stylesheets/nav.css')
        nav
            div#left-nav
                a(href='/games') all games
                form(action='/games/search' method='post')
                    input(type='text' name='name' placeholder='browse')
                    button(type='submit') submit
            div#mid-nav
                if user
                    p= `welcome ${user.username}!`
                else
                    p respawn
            div#right-nav
                if user
                    a(href='/games/add') add a game
                    a(href='/users/logout') logout
                else
                    a(href='/users/login') login
                    a(href='/users/signup') signup
                    a(href='/users/demo') demo
    body
        block content
