h1 {
    text-align: center;
}

h2 {
    position: absolute;
    font-size: 60px;
    /* margin-top: 100px; */
    left: 100px;
}

.game-div {
    display: flex;
    padding: 20px;

    margin: 20px;

    border-radius: 50px;
    background-color: black;
    color: white;
}

img {
    border-radius: 10px;
    width: 400px;
}

#more-a {
    color: white;
    position: relative;
    top: 150px;
    left: 50px;
    font-size: 20px;
    height: 22px;
}

.game-a {
    position: relative;
    border-radius: 10px;
    width: 400px;
    margin: 0 10px;
    left: 350px;
}
